.radio {
    display: flex;
    flex-direction: column;
}

.radio::before {
    background:  #000000;
}


.radio:checked::before {
    background:  #000000;

}

.label {
    display: flex;
    gap: 5px;
}

.options {
}
